mixin board(board)
    - var b = 0
    - var h = 0

    include tile
    
    block content
        .wrapper.board-wrapper
            .board
                while s < 225
                    .board-space(id=b++)
                        .board-tile
        .wrapper.hand-wrapper
            .hand
                each tileVal in handTiles
                    .hand-space(id = h++)
                        .hand-tile
                            +tile(tileVal[0], tileVal[1], tileVal[2])
