- var s = 0
- var t = 0

block content
    .wrapper.board-wrapper
        .board
            while s < 225
                .board-space(id=s++)
                    .board-tile
    .wrapper.hand-wrapper
        .hand
            while t < 7
                .hand-space(id = t++)
                    .hand-tile(draggable="true")
                        include tile