doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include nav
    #main-content
    block content
    //- block foot
    include foot
      //- #footer
      //-   .container
      //-     p some footer content
          //- p layout feet
