doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main-content
    block content
    block foot
      #footer
        .container
          p some footer content
