doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main-content
      .container
        block content
    block foot
      #footer
        p some footer content
