extends layout

block content
    .container
        .wrapper
            img(src="./images/lexikologo.png", alt="")
            form(method="POST", action="/login")
                .input-control
                    label.input-label(for = "username", hidden = "") Username: 
                    input.input-field(type = "text", name = "username", placeholder = "Username")
                .input-control
                    label.input-label(for = "password", hidden = "") Password: 
                    input.input-field(type = "password", name = "password", placeholder = "Password")
                .input-control
                    .btn.input.input-submit.grad-1(type = "submit", name = "login", value="Login") Login
                .input-control
                    a.btn.grad-2(type = "button", name = "register", href = "/register") Register
                .input-control
                    a(type = "button", href = "/forgot", name = "forgot", value= "forgot") Reset Password