extends layout

block content
    .container
        .wrapper
            h1  Login to Lexiko
            form(method="POST", action="/login")
                .input-control
                    label.input-label(for = "username", hidden = "") Username: 
                    input.input-field(type = "text", name = "username", placeholder = "Username")
                .input-control
                    label.input-label(for = "password", hidden = "") Password: 
                    input.input-field(type = "password", name = "password", placeholder = "Password")
                .input-control
                    input.btn.input-submit.grad-1(type = "submit", name = "login", value="Login")
                .input-control
                    a.btn.grad-2(type = "button", name = "register", href = "/register") Register