extends layout

block content
    .container
        .wrapper
            h1  Login to Lexiko
            form(method="POST", action="/login")
                .input-control
                    label.input-label(for = "username") Username: 
                    input.input-field(type = "text", name = "username", placeholder = "Username")
                .input-control
                    label.input-label(for = "password") Password: 
                    input.input-field(type = "password", name = "password", placeholder = "Password")
                .input-control
                    .login-btn.grad-1(type = "submit", name = "login") Login
                    a(href="/register")
                        .login-btn.grad-2.button(type = "button", name = "register", action = "/register") Register