extends layout

block content
    .container
        .wrapper
            img(src="../images/lexikologo.png", alt="")
            form(method="POST", action="/auth/register")
                .input-control
                    label.input-label(for = "username", hidden="") Username:
                    input.input-field(type = "text", name = "username", placeholder = "Username")
                .input-control
                    label.input-label(for = "email", hidden="") Email: 
                    input.input-field(type = "text", name = "email", placeholder = "Email Address")
                .input-control
                    label.input-label(for = "password", hidden="") Password: 
                    input.input-field(type = "password", name = "password", placeholder = "Password")
                .input-control
                    label.input-label(for = "confirmpassword", hidden="") Confirm Password: 
                    input.input-field(type = "password", name = "confirmpassword", placeholder = "Re-enter Password")
                .input-control
                    input.btn.input-submit.grad-2.reset-btn(type = "submit", name = "register", value = "Register")


