extends layout

include testBoard
include chat
include leaderboard
include debugger

block content
    +debugger(this)
    .container.row-flex
        .game-lobby-left
            .game-id.row-flex
                gameName
                gameId
            +testBoard(this)
        .game-lobby-right
            .wrapper
                +leaderboard(players)
            .wrapper
                +chat("oh hi")
    script(src="/javascript/gameLogic.js")
    script(src="/javascript/dragDropHandler.js")
    script(src="/javascript/chat.js")