body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
	align-items: center;
	justify-content: center;
}


.dark-purple {
  color: #231123;
}

.dark-blue {
  color: #0B4F6C;
}

.amber {
  color: #FF7F11;
}

.light-blue {
  color: #4BA3C3;
}

.yellow {
  color: #FAF2A1;
}



#grad {
  background: linear-gradient(to right, #4BA3C3 , #0B4F6C);
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.grad-1 {
  background-image: linear-gradient(to right, #4BA3C3 0%, #FF7F11 51%, #0B4F6C 100%);
}

.grad-2 {
  background-image: linear-gradient(to right, #0B4F6C 0%, #FF7F11 51%, #4BA3C3 100%);
}