extends layout

block content
    .container
        .wrapper
            img(src="../images/lexikologo.png", alt="")
            form(method="POST", action="/forgot")
                .input-control
                    label.input-label(for = "forgotuser", hidden="") Username or Email
                    input.input-field(type = "text", name = "forgotuser", placeholder = "Username or Email")
                .input-control
                    input.btn.input-submit.grad-2.reset-btn(type="submit", name= "resetpassword", value = "Reset Password")
                    //- .btn.input.grad-2(type = "submit", name = "resetpassword", value = "Reset Password") Reset Password


//- .login-btn.grad-2(type = "submit", name = "register", action = "/register") Register