extends layout

block content
  h1= title
  if username 
    h2 Welcome #{username}
  p Welcome to #{title} (#{sessionID})
  ul
    li
      a(href="/auth/register") Register
    br
    li 
      a(href="/auth/login") Login
    br
    li 
      a(href="/lobby") Lobby
    br
    li 
      a(href="/game") Game  
