doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/" style="padding: 0")
      img(src="../images/lexikologo.png", alt="", style="max-width: 15rem; height: auto; padding: 0; position: absolute; left: 15px; top: 15px;")
    #main-content
      block content
    block foot
      #footer
        .container
          p Team Lexiko 2022, created for CSC 667 at SFSU
    img(src="../images/welcome.png", alt="", style="width: 30%; position: absolute; right: 0px; bottom: 0px;")
    img(src="../images/welcome2.png", alt="", style="width: 30%; position: absolute; left: 0px; bottom: 0px;")
