extends layout
block content
    .container
        .wrapper
            img(src="../images/lexikologo.png", alt="")
            form(method="POST", action="/auth/login")
                .input-control
                    label(for = "username", hidden = "") Username: 
                    input.input-field(id = "username", autocomplete="username", type = "text", name = "username", placeholder = "Username", required autofocus)
                .input-control
                    label(for = "current-password", hidden = "") Password: 
                    input.input-field(id = "current-password", autocomplete="password", type = "password", name = "password", placeholder = "Password", required autofocus)
                .input-control
                    input.btn.input-submit.grad-1(type = "submit", name = "login", value="Login")
                .input-control
                    a.btn.grad-2(type = "button", name = "register", href = "/auth/register") Register
                .input-control
                    a(type = "button", href = "/forgot", name = "forgot", value= "forgot") Reset Password