//- mixin chat()
//-     link(rel='stylesheet', href='/stylesheets/style.css')

//-     template#message
//-       span.sender
//-       span.content
//-       span.timestamp

//-     #chat
//-     #messages
//-     #send
//-         input(type="text" id="message-field")
  
//-     script(src="/socket.io/socket.io.js")


mixin chat()
    link(rel='stylesheet', href='/stylesheets/style.css')

    template#message
      li
        span.sender
        span.content
        span.timestamp

    #chat
    ul#messages
    #send
        input(type="text" id="message-field")
  
    script(src="/socket.io/socket.io.js")
