extends layout

include board
include chat
include leaderboard

block content
    .container.row-flex
        .game-lobby-left
            .game-id.row-flex
                gameName
                gameId
            +board(this)
            //- +board(gameBoardTiles, handTiles)
        .game-lobby-right
            .wrapper
                +leaderboard(players)
            .wrapper
                +chat()
    script(src="/javascripts/gameLogic.js")
    script(src="/javascripts/dragDropHandler.js")
    script(src="/javascripts/chat.js")