extends layout

include board
include chat
include leaderboard

block content
    a(href="/" style="padding: 0")
        img(src="../images/lexikologo.png", alt="", style="max-width: 15rem; height: auto; padding: 0; position: absolute; left: 15px; top: 15px;")
    .container.row-flex
        .game-lobby-left
            .game-id.row-flex
                gameName
                gameId
            +board(this)
            //- +board(gameBoardTiles, handTiles)
        .game-lobby-right
            .wrapper(style="margin-top: 0px; margin-bottom: 10px; margin-left: 10px")
                +leaderboard(players)
            .wrapper(style="margin-top: 10px; margin-left: 10px")
                +chat()
    script(src="/javascripts/gameLogic.js")
    script(src="/javascripts/dragDropHandler.js")
    script(src="/javascripts/chat.js")